:root{
    --cor-principal: white;
    --cor-secundaria: white;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.overlay.ativo{
    display: block;
}

.btn-principal{
    width: 150px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    transition: .4s ease;
    border-radius: 3px;
    color: white;
}

.btn-principal:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn-nav{

}

body.travar{
    overflow: hidden;
}

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: .4s ease;
}


#header.close #logo{
    display: none;
}

#header.close #btn-toggle{
    display: none;
}

.navbar-toggler{
    border-color: white;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#header.scroll{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
}

#header.scroll button{
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

#header.scroll .navbar-toggler{
    border-color: white;
}

#header.scroll .navbar-toggler:focus{
    box-shadow: none;
}

#header.scroll .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, .8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#header a{
    color: white;
}

#hero{
    position: relative;
    height: 100vh;
    background-image: url(../imagens/hero/banner.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .textHero{
    max-width: 650px;
}

#hero::before{
    position: absolute;
    inset: 0;
    content: "";
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4))
}

#hero .container{
    position: relative;
    z-index: 2;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#hero .container .row{
    letter-spacing: .2px;
}

#hero .container .row .col-md-12{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

#hero .container .row .col-md-12 h1{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: .8;
    letter-spacing: -0.02em;
    font-family: 'Inter', sans-serif;
}

#hero .container .row .col-md-12 p{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

#hero button{
    width: 200px;
    padding: 10px;
}



/* Por que nos escolher */

.titulo-secao{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}

.chamada-secao{
    font-size: clamp(1.75rem, 1.2rem + 1.5vw, 2.5rem);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .005em;
}

#Por-que-nos-escolher{

}

#Por-que-nos-escolher  p{
    font-size: clamp(0.938rem, 0.85rem, 1.125rem);
    color: rgba(0, 0, 0, 0.5);
}

#Por-que-nos-escolher .row .col-md-6{
    align-self: baseline;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto 1fr auto;
    align-items: stretch;
}

@media (max-width: 991px) {
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
    }   
}

.card{
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    padding:  30px;
    border-radius: 0;
    min-width: 300px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.card .header-card{
    width: 100%;
    font-size: clamp(1rem, 1.5rem, 2.5rem);
    font-weight: 500;
    margin: 0 0 20px;
    color: rgba(0, 0, 0, 0.3);
}

.card:hover .header-card{
    color: rgba(0, 0, 0, 0.7);
}

.card .titulo-card{
    font-size: clamp(1.125rem, 1rem, 1.25rem);
    width: 100%;
}

.card .descricao-card{
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}